<!-- Header section -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark">
    <div class="container">
    
        <a class="navbar-brand" href="#">KT</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            
                <li class="nav-item">
                    <a class="nav-link" href="#section1">section1</a>
                </li>
                
                <li class="nav-item"> 
                    <a class="nav-link" href="#section2">section2</a>
                </li>

                <li class="nav-item"> 
                    <a class="nav-link" href="#section3">section3</a>
                </li>

                <li class="nav-item"> 
                    <a class="nav-link" href="#section4">section4</a>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto">
            
                <li class="nav-item">
                    <a class="nav-link" href="#section5">section5</a>
                </li>
                
                <li class="nav-item"> 
                    <a class="nav-link" href="#section6">section6</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                    </a>
                
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#section4">Action</a>
                        <a class="dropdown-item" href="#section4">Another action</a>
                        <a class="dropdown-item" href="#section4">Something else here</a>
                    </div>
                </li>
            </ul>
        
        </div>
    
    </div>
</nav> 


<!-- Corousel section -->
<!--
<div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="" src="assets/slider1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>15/Dec.2017</h3>
                <h5>Trip to...............place..................</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="" src="assets/slider2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>15/Dec.2017</h3>
                <h5>Trip to...............place..................</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="" src="assets/slider3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>15/Dec.2017</h3>
                <h5>Trip to...............place..................</h5>
            </div>
        </div>
    
    </div>
    
</div>
-->    

<!-- Home section -->
<!--
<div class="mainsection">
    
    <div id="section1" class="sectionpad"></div>
    <div class="section">
        <h4>section1</h4>
        1
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        1
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        1
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        1
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        1
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        1
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
    </div>

    <div  class="parallax"></div>

    <div id="section2" class="sectionpad"></div>
    <div class="section">
        <h4>section2</h4>
        2
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        2
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        2
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        2
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        2
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        2
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
    </div>
    
    <div  class="parallax"></div>
    <div id="section3" class="sectionpad"></div>
    <div class="section">
        <h4>section3</h4>
        3
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        3
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        3
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        3
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        3
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        3
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
    </div>

    <div  class="parallax"></div>
    <div id="section4" class="sectionpad"></div>
    <div class="section">
        <h4>section4</h4>
        4
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        4
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        4
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        4
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        4
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        4
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
    </div>
    
    <div  class="parallax"></div>
    <div id="section5" class="sectionpad"></div>
    <div class="section">
        <h4>section5</h4>
        5
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        5        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        5
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        5
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        5
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        5
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
    </div>
    
    <div  class="parallax"></div>
    <div id="section6" class="sectionpad"></div>
    <div class="section">
        <h4>section6</h4>
        6
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        6        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        6
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        6
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        6
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
        6
        
        <br> 
        <br>
        <br> 
        <br> 
        <br>  
    </div>
</div>
-->
 
<div class="background background--spring">
    <h2 class="title">Spring</h2>
</div>

<section id="section1" class="season-desc">
    <div class="desc-wrapper">
        <h3 class="season--title">Spring</h3>
        <p class="season--about">Spring is one of the four conventional temperate seasons, following winter and preceding summer. There are various technical definitions of spring, but local usage of the term varies according to local climate, cultures and customs. When it is spring in the Northern Hemisphere, it is autumn in the Southern Hemisphere and vice versa. At the spring (or vernal) equinox, days and nights are approximately twelve hours long, with day length increasing and night length decreasing as the season progresses.</p>
    </div>
</section>

<div class="background background--summer">
    <h2 class="title">Summer</h2>
</div>

<section  id="section2" class="season-desc">
    <div class="desc-wrapper">
        <h3 class="season--title">Summer</h3>
        <p class="season--about">Summer is the hottest of the four temperate seasons, falling after spring and before autumn. At the summer solstice, the days are longest and the nights are shortest, with day-length decreasing as the season progresses after the solstice. The date of the beginning of summer varies according to climate, tradition, and culture. When it is summer in the Northern Hemisphere, it is winter in the Southern Hemisphere, and vice versa.</p>
    </div>
</section>

<div class="background background--fall">
    <h2 class="title">Autumn</h2>
</div>

<section  id="section3" class="season-desc">
    <div class="desc-wrapper">
        <h3 class="season--title">Autumn</h3>
        <p class="season--about">Autumn, also known as fall in American English and sometimes in Canadian English,[1] is one of the four temperate seasons. Autumn marks the transition from summer to winter, in September (Northern Hemisphere) or March (Southern Hemisphere), when the duration of daylight becomes noticeably shorter and the temperature cools down considerably. One of its main features is the shedding of leaves from deciduous trees.</p>
    </div>
</section>

<div class="background background--winter">
    <h2 class="title">Winter</h2>
</div>

<section  id="section4" class="season-desc">
    <div class="desc-wrapper">
        <h3 class="season--title">Winter</h3>
        <p class="season--about">Winter is the coldest season of the year in polar and temperate zones (winter does not occur in most of the tropical zone). It occurs after autumn and before spring in each year. Winter is caused by the axis of the Earth in that hemisphere being oriented away from the Sun. Different cultures define different dates as the start of winter, and some use a definition based on weather. When it is winter in the Northern Hemisphere, it is summer in the Southern Hemisphere, and vice versa. In many regions, winter is associated with snow and freezing temperatures.</p>
    </div>
</section>



<footer class="footer">
        <div class="container text-center">
            
            <P class="pline1">© 2019 KT Finance Ltd. All rights reserved.</P>
            <P class="pline2">Website Design: Snow Creative | snowcreative@gmail.com</P>
            
            <!--
            <div class="socialmedia">
                    <a>
                        <i class="fa fa-facebook-square fa-2x">&nbsp; </i>
                    </a>
    
                    <a>
                        <i class="fa fa-instagram fa-2x">&nbsp; </i>
                    </a>
    
                    <a>
                        <i class="fa fa-weixin fa-2x">&nbsp; </i>
                    </a> 
            </div>
            -->
        </div>
    </footer>